{% if settings.announcement_show_the_bar != blank and settings.announcement_show_the_bar == true %}
  <div class="announcement-bar" {% if settings.announcement_color != 'rgba(0,0,0,0)' %}style="background-color: {{ settings.announcement_color }};"{% endif %}>
    {{ settings.announcement_headline }}
  </div>
{% endif %}
