<section class="buttons max-width">
  <h2 class="section-heading">Buttons</h2>
  <div class="row">
    <div class="column-6">
      <p class="bold uppercase">Primary Button</p>
      <p>Used as a primary call-to-action on light and dark backgrounds</p>
      <button>Default</button>
      <br><br>
      <button class="hover">Hover</button>
      <br><br>
      <button class="active">Pressed</button>
      <br><br>
      <button class="loading">Loading</button>
    </div>
    <div class="column-6">
      <p class="bold uppercase">Secondary Button</p>
      <p>Used as a secondary call-to-action on light backgrounds</p>
      <button class="secondary">Default</button>
      <br><br>
      <button class="secondary hover">Hover</button>
      <br><br>
      <button class="secondary active">Pressed</button>
      <br><br>
      <button class="secondary loading">Loading</button>
    </div>
  </div>
  <br>
</section>
<section class="buttons invert">
  <div class="max-width">
    <div class="row">
      <div class="column-6">
        <p class="bold uppercase">Primary Button On Dark</p>
        <p>Used as a primary call-to-action on dark backgrounds</p>
        <button>Default</button>
        <br><br>
        <button class="hover">Hover</button>
        <br><br>
        <button class="active">Pressed</button>
        <br><br>
        <button class="loading">Loading</button>
      </div>
      <div class="column-6">
        <p class="bold uppercase">Secondary Button On Dark</p>
        <p>Used as a secondary call-to-action on dark backgrounds</p>
        <button class="secondary">Default</button>
        <br><br>
        <button class="secondary hover">Hover</button>
        <br><br>
        <button class="secondary active">Pressed</button>
        <br><br>
        <button class="secondary loading">Loading</button>
      </div>
    </div>
  </div>
</section>
