<section class="forms max-width">
  <h2 class="section-heading">Form Elements</h2>
  <div class="row">
    <div class="column-6">
      <p class="bold uppercase">Input Form Fields</p>
      <p>Form field used as an input for common text elements</p>
      <div>
        <label for="input-1">Field Label</label>
        <input id="input-1" placeholder="Input Default" value="Input Default" aria-label="Input Default" />
      </div>
      <br>
      <div>
        <label for="input-2">Input Active/Hover</label>
        <input class="hover" id="input-2" placeholder="Input Active/Hover" aria-label="Input Active/Hover" />
      </div>
      <br>
      <div>
        <label for="input-3">Input Disabled</label>
        <input disabled id="input-3" placeholder="Input Disabled" aria-label="Input Disabled" />
      </div>
      <br>
      <div class="required">
        <label for="input-4">Input Required</label>
        <input id="input-4" placeholder="Input Required" aria-label="Input Required" />
      </div>
      <br>
      <div class="invalid">
        <label for="input-5">Input Invaid</label>
        <input id="input-5" placeholder="Input Invaid" aria-label="Input Invaid" />
        <div class="field-message">Error messaging</div>
      </div>
    </div>
    <div class="column-6">
      <p class="bold uppercase">Select Form Fields</p>
      <p>Form field used as a select form element for selecting a single option from a list</p>
      <div>
        <label for="select-1">Select Label</label>
        <select id="select-1">
          <option disabled selected>Dropdown Default</option>
          <option value="1">Dropdown Option 1</option>
          <option value="2">Dropdown Option 2</option>
          <option value="3">Dropdown Option 3</option>
        </select>
      </div>
      <br>
      <div>
        <label for="select-2">Select Label</label>
        <select class="hover" id="select-2">
          <option disabled selected>Dropdown Active</option>
          <option value="1">Dropdown Option 1</option>
          <option value="2">Dropdown Option 2</option>
          <option value="3">Dropdown Option 3</option>
        </select>
      </div>
      <br>
      <div>
        <label for="select-3">Select Label</label>
        <select disabled id="select-3">
          <option disabled selected>Dropdown Disabled</option>
          <option value="1">Dropdown Option 1</option>
          <option value="2">Dropdown Option 2</option>
          <option value="3">Dropdown Option 3</option>
        </select>
      </div>
      <br>
      <div class="required">
        <label for="select-4">Select Label</label>
        <select id="select-4">
          <option disabled selected>Dropdown Required</option>
          <option value="1">Dropdown Option 1</option>
          <option value="2">Dropdown Option 2</option>
          <option value="3">Dropdown Option 3</option>
        </select>
      </div>
      <br>
      <div class="invalid">
        <label for="select-5">Select Label</label>
        <select id="select-5">
          <option disabled selected>Dropdown Invalid</option>
          <option value="1">Dropdown Option 1</option>
          <option value="2">Dropdown Option 2</option>
          <option value="3">Dropdown Option 3</option>
        </select>
        <div class="field-message">Error messaging</div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column-6">
      <p class="bold uppercase">Check Box</p>
      <div class="checkbox">
        <input type="checkbox" id="checkbox-1" />
        <label for="checkbox-1">Checkbox</label>
      </div>
      <div class="checkbox">
        <input class="hover" type="checkbox" id="checkbox-2" />
        <label for="checkbox-2">Checkbox Hover</label>
      </div>
      <div class="checkbox">
        <input checked type="checkbox" id="checkbox-3" />
        <label for="checkbox-3">Checkbox Checked</label>
      </div>
      <div class="checkbox">
        <input disabled type="checkbox" id="checkbox-4" />
        <label for="checkbox-4">Checkbox Disabled</label>
      </div>
    </div>
    <div class="column-6">
      <p class="bold uppercase">Radio</p>
      <div class="radio">
        <input type="radio" name="radio" id="radio-1" />
        <label for="radio-1">Radio</label>
      </div>
      <div class="radio">
        <input class="hover" name="radio" type="radio" id="radio-2" />
        <label for="radio-2">Radio Hover</label>
      </div>
      <div class="radio">
        <input checked type="radio" name="radio" id="radio-3" />
        <label for="radio-3">Radio Selected</label>
      </div>
      <div class="radio">
        <input disabled type="radio" name="radio" id="radio-4" />
        <label for="radio-4">Radio Disabled</label>
      </div>
    </div>
  </div>
</section>
