<section class="grid max-width">
  <h2 class="section-heading">Grid</h2>
  <p>
    A responsive, mobile first fluid grid system that appropriately
    scales up to 12 columns as the device or viewport size increases.
  </p>
  <p>
    The grid system supports responsive classes for desktop, tablet, and mobile,
    vertical and horizontal alignment, directional flow, hiding/showing responsively,
    as well as offsetting, via classes.
  </p>
  <div class="max-width">
    <div class="row">
      <div class="column-1">
        <div class="box"></div>
      </div>
      <div class="column-11">
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-2">
        <div class="box"></div>
      </div>
      <div class="column-10">
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-3">
        <div class="box"></div>
      </div>
      <div class="column-9">
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-4">
        <div class="box"></div>
      </div>
      <div class="column-8">
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-5">
        <div class="box"></div>
      </div>
      <div class="column-7">
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-6">
        <div class="box"></div>
      </div>
      <div class="column-6">
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-7">
        <div class="box"></div>
      </div>
      <div class="column-5">
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-8">
        <div class="box"></div>
      </div>
      <div class="column-4">
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-9">
        <div class="box"></div>
      </div>
      <div class="column-3">
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-10">
        <div class="box"></div>
      </div>
      <div class="column-2">
        <div class="box"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-11">
        <div class="box"></div>
      </div>
      <div class="column-1">
        <div class="box"></div>
      </div>
    </div>
  </div>
</section>
