<section class="links max-width">
  <h2 class="section-heading">Links</h2>
  <div class="row">
    <div class="column-6">
      <p class="bold uppercase">Feature Link</p>
      <p>Used as a feature link for elements such as Log In, Sign Up, etc.</p>
      <a class="featured" href="#">Link</a>
      <br><br>
      <a class="featured hover" href="#">Link - Hover</a>
      <br><br>
      <a class="featured active" href="#">Link - Pressed</a>
    </div>
    <div class="column-6">
      <p class="bold uppercase">Secondary Feature Link</p>
      <p>Used as a secondary feature link for elements such as Log In, Sign Up, etc.</p>
      <a class="secondary-featured" href="#">Link</a>
      <br><br>
      <a class="secondary-featured hover" href="#">Link - Hover</a>
      <br><br>
      <a class="secondary-featured active" href="#">Link - Pressed</a>
      <span class="hide-to-tablet"><br><br></span>
    </div>
    <div class="column-6">
      <p class="bold uppercase">Text Link</p>
      <p>Used as an in-line text link</p>
      <a href="#">Link</a>
      <br>
      <a class="hover" href="#">Link - Hover</a>
      <br>
      <a class="active" href="#">Link - Pressed</a>
    </div>
  </div>
</section>
<section class="buttons invert">
  <div class="max-width">
    <div class="row">
      <div class="column-6">
        <p class="bold uppercase">Feature Link On Dark</p>
        <p>Used as a feature link for elements such as Log In, Sign Up, etc. on dark</p>
        <a class="featured" href="#">Link</a>
        <br><br>
        <a class="featured hover" href="#">Link - Hover</a>
        <br><br>
        <a class="featured active" href="#">Link - Pressed</a>
      </div>
      <div class="column-6">
        <p class="bold uppercase">Secondary Feature Link On Dark</p>
        <p>Used as a secondary feature link for elements such as Log In, Sign Up, etc. on dark</p>
        <a class="secondary-featured" href="#">Link</a>
        <br><br>
        <a class="secondary-featured hover" href="#">Link - Hover</a>
        <br><br>
        <a class="secondary-featured active" href="#">Link - Pressed</a>
        <span class="hide-to-tablet"><br><br></span>
      </div>
      <div class="column-6">
        <p class="bold uppercase">Text Link On Dark</p>
        <p>Used as an in-line text link on dark</p>
        <a href="#">Link</a>
        <br>
        <a class="hover" href="#">Link - Hover</a>
        <br>
        <a class="active" href="#">Link - Pressed</a>
      </div>
    </div>
  </div>
</section>
