<div
  class="swatches-wrapper v-hide"
  v-for="(options, i) in [option1Options, option2Options, option3Options]"
  v-if="options.length > 1"
>
  {% if section.settings.rhpa_type == 'swatch' %}
    <div v-bind:class="{ 'swatch-size-link-wrapper': productVariantOptions[i].toLowerCase() ==='size' }" v-cloak>
      <h6 class="swatch-title">
        <span>${ productVariantOptions[i] }: </span>${ optionSelections[i + 1] || 'Select ' + productVariantOptions[i] }
      </h6>
      <div class="size-chart-link-wrapper" v-if="productVariantOptions[i].toLowerCase() ==='size'">
        <h6 class="size-chart-link"><a href="#" v-on:click.prevent="toggleSizeChart()">Size Chart</a></h6>
        <modal class="size-chart-wrapper" v-if="showSizeChart" v-on:close="toggleSizeChart()">
          <h2 class="size-chart-header">Apparel Size Chart</h2>
          <div class="size-chart-outer">
            <div class="size-chart-inner">
              <div class="size-chart">
                <div class="size-chart-column">
                  <div class="size-chart-header">Size</div>
                  <div>Numeric</div>
                  <div>Waist</div>
                  <div>Chest</div>
                  <div>Hip</div>
                </div>
                <div class="size-chart-column">
                  <div class="size-chart-header">XXS</div>
                  <div>0-00</div>
                  <div>24-25</div>
                  <div>32</div>
                  <div>35</div>
                </div>
                <div class="size-chart-column">
                  <div class="size-chart-header">XS</div>
                  <div>2</div>
                  <div>26</div>
                  <div>33</div>
                  <div>36</div>
                </div>
                <div class="size-chart-column">
                  <div class="size-chart-header">S</div>
                  <div>4-6</div>
                  <div>27-28</div>
                  <div>34-35</div>
                  <div>37-38</div>
                </div>
                <div class="size-chart-column">
                  <div class="size-chart-header">M</div>
                  <div>8-10</div>
                  <div>29-30</div>
                  <div>36-37</div>
                  <div>39-40</div>
                </div>
                <div class="size-chart-column">
                  <div class="size-chart-header">L</div>
                  <div>12</div>
                  <div>31</div>
                  <div>38-39</div>
                  <div>41-42</div>
                </div>
                <div class="size-chart-column">
                  <div class="size-chart-header">XL</div>
                  <div>14</div>
                  <div>32</div>
                  <div>40-41</div>
                  <div>43-44</div>
                </div>
              </div>
            </div>
          </div>
        </modal>
      </div>
    </div>
    {% if section.settings.rhpa_color_swatch_type == 'image' %}
      <div class="swatches image-swatches" v-if="productVariantOptions[i] === 'Color'" v-cloak>
        <div
          class="swatch color-image-swatch" v-for="(option, j) in options"
          v-bind:class="{ 'oos': outOfStock(option, i + 1) }"
        >
          <input
            v-bind:id="option"
            v-bind:value="option" type="radio"
            v-model="optionSelections[i + 1]"
            v-bind:class="{ 'disabled': outOfStock(option, i + 1) }"
            autocomplete="off"
          />
          <label v-bind:class="[ option.replace(/ /g, '-').toLowerCase() ]" v-bind:for="option">
            <img
              class="lazyload"
              src="{{ settings.placeholder_image | img_url }}"
              v-bind:data-src="productVariants[j].featured_image.src"
              v-bind:data-variantid="productVariants[j].id"
            />
          </label>
        </div>
      </div>
      <div class="swatches" v-else v-cloak>
        <div
          class="swatch" v-for="option in options"
          v-bind:class="{ 'oos': outOfStock(option, i + 1) }"
        >
          <input
            v-bind:id="option"
            v-bind:value="option" type="radio"
            v-model="optionSelections[i + 1]"
            v-bind:class="{ 'disabled': outOfStock(option, i + 1) }"
            autocomplete="off"
          />
          <label v-bind:class="[ option.replace(/ /g, '-').toLowerCase() ]" v-bind:for="option">${ option }</label>
        </div>
      </div>
    {% else %}
      <div class="swatches" v-bind:class="{ 'color-swatches': productVariantOptions[i] === 'Color' }" v-cloak>
        <div
          class="swatch" v-for="option in options"
          v-bind:class="{ 'color-swatch': productVariantOptions[i] === 'Color', 'oos': outOfStock(option, i + 1) }"
        >
          <input
            v-bind:id="option"
            v-bind:value="option" type="radio"
            v-model="optionSelections[i + 1]"
            v-bind:class="{ 'disabled': outOfStock(option, i + 1) }"
            autocomplete="off"
          />
          <label v-bind:class="[ option.replace(/ /g, '-').toLowerCase() ]" v-bind:for="option">${ option }</label>
        </div>
      </div>
    {% endif %}
  {% elsif section.settings.rhpa_type == 'radio' %}
    <h6 class="radio-title" v-cloak><span class="uppercase">${ productVariantOptions[i] }</span>: ${ optionSelections[i + 1] }</h6>
    <div class="radio-wrapper" v-cloak>
      <div class="radio" v-for="option in options" v-bind:class="{ 'half-width': options.length > 10 }">
        <input
          type="radio"
          v-bind:id="option"
          v-bind:value="option" type="radio"
          v-model="optionSelections[i + 1]"
          v-bind:class="{ 'disabled': outOfStock(option, i + 1) }"
          v-bind:disabled="outOfStock(option, i + 1)"
          autocomplete="off"
        />
        <label v-bind:for="option">${ option }</label>
      </div>
    </div>
  {% elsif section.settings.rhpa_type == 'select' %}
    <div class="select-wrapper" v-cloak>
      <h6 class="select-title"><span class="uppercase">${ productVariantOptions[i] }</span>: ${ optionSelections[i + 1] }</h6>
      <select v-model="optionSelections[i + 1]">
        <option
          v-for="option in options"
          v-bind:id="option"
          v-bind:value="option" type="radio"
          v-bind:class="{ 'disabled': outOfStock(option, i + 1) }"
          v-bind:disabled="outOfStock(option, i + 1)"
        >${ option }</option>
      </select>
    </div>
  {% endif %}
</div>

<!-- Recharge Hidden Input -->
{% if product.available %}
  <input type="hidden" name="id" data-productid="{{ product.id }}" v-bind:value="selectedOptionVariant ? selectedOptionVariant.id : ''" />
{% endif %}

<div class="quantity-atc-wrapper">
  {% if section.settings.show_quantity_selector %}
    <div class="quantity-input-wrapper required" v-cloak>
      <quantity-input v-bind:is-cart="true" v-bind:max="variantQty[selectedOptionVariant.id]" v-model.number="formQuantity"></quantity-input>
    </div>
  {% endif %}
  <div class="add-to-cart-wrapper required">
    <link itemprop="availability" href="http://schema.org/OutOfStock" v-if="!selectedOptionVariant && selectedOptionVariant && !selectedOptionVariant.available">
    <link itemprop="availability" href="http://schema.org/InStock" v-else>

    <button
      v-if="selectedOptionVariant && selectedOptionVariant.available"
      v-bind:class="{ 'loading': addingToCart, 'active': selectedOptionVariant && !selectedOptionVariant.available }"
      v-bind:disabled="selectedOptionVariant && !selectedOptionVariant.available"
      type="submit"
      name="add"
      id="AddToCart"
    >Add to cart<span class="hide-tablet white"> - ${ formatMoney(productPrice) }</span></button>
    <button
      class="active"
      disabled
      v-else-if="InvalidVariantSelections"
    >${ InvalidVariantSelections }</button>
    {% if settings.klaviyo_bis_list.size > 0 %}
      <button
        v-else
        class="secondary klaviyo-bis-trigger"
        id="AddToCart"
      >Notify Me When Available</button>
    {% else %}
      <button
        v-else
        class="secondary"
        id="AddToCart"
      >Out Of Stock</button>
    {% endif %}
    <div v-if="PdpError" class="pdp-error invalid">
      <p class="field-message">${ PdpError.description }</p>
    </div>
  </div>
</div>
