<section class="typography max-width">
  <h2 class="section-heading">Typography</h2>
  <p class="bold primary-font uppercase">Primary Font</p>
  <div class="row">
    <div class="column-6">
      <h1 v-if="variables" class="primary-font capitalize">
        ${ variables['--shop-primary-font'].replace(/-/g, ' ').replace(/\"/g, '') }
      </h1>
    </div>
    <div class="column-6">
      <p class="primary-font bold">
        A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
        <br>
        a b c d e f g h i j k l m n o p q r s t u v w x y z
      </p>
    </div>
  </div>
  <br>
  <p class="bold uppercase">Secondary Font</p>
  <div class="row">
    <div class="column-6">
      <h1 v-if="variables" class="secondary-font capitalize">
        ${ variables['--shop-secondary-font'].replace(/-/g, ' ').replace(/\"/g, '') }
      </h1>
    </div>
    <div class="column-6">
      <p class="secondary-font">
        A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
        <br>
        a b c d e f g h i j k l m n o p q r s t u v w x y z
      </p>
    </div>
  </div>
  <br>
  <br>
  <p class="bold uppercase">Headlines</p>
  <div class="row">
    <div class="column-4">
      <p class="bold uppercase">Left</p>
      <h1 class="hero">Hero</h1>
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      <h6>Header 6</h6>
    </div>
    <div class="column-4 center-text">
      <p class="bold uppercase">Center</p>
      <h1 class="hero">Hero</h1>
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      <h6>Header 6</h6>
    </div>
    <div class="column-4 right-text">
      <p class="bold uppercase">Right</p>
      <h1 class="hero">Hero</h1>
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      <h6>Header 6</h6>
    </div>
  </div>
</section>
<section class="typography invert">
  <div class="max-width">
    <p class="bold uppercase">Headlines On Dark</p>
    <div class="row">
      <div class="column-4">
        <p class="bold uppercase">Left</p>
        <h1 class="hero">Hero</h1>
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
      </div>
      <div class="column-4 center-text">
        <p class="bold uppercase">Center</p>
        <h1 class="hero">Hero</h1>
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
      </div>
      <div class="column-4 right-text">
        <p class="bold uppercase">Right</p>
        <h1 class="hero">Hero</h1>
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
      </div>
    </div>
  </div>
</section>
<section class="typography max-width">
  <p class="bold uppercase">Paragraph</p>
  <div class="row">
    <div class="column-4">
      <p class="bold uppercase">Left</p>
      <p>
        Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Cras mattis consectetur purus sit amet fermentum Euismod.
      </p>
    </div>
    <div class="column-4 center-text">
      <p class="bold uppercase">Center</p>
      <p>
        Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Cras mattis consectetur purus sit amet fermentum Euismod.
      </p>
    </div>
    <div class="column-4 right-text">
      <p class="bold uppercase">Right</p>
      <p>
        Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Cras mattis consectetur purus sit amet fermentum Euismod.
      </p>
    </div>
  </div>
</section>
<section class="typography invert">
  <div class="max-width">
    <p class="bold uppercase">Paragraph On Dark</p>
    <div class="row">
      <div class="column-4">
        <p class="bold uppercase">Left</p>
        <p>
          Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Cras mattis consectetur purus sit amet fermentum Euismod.
        </p>
      </div>
      <div class="column-4 center-text">
        <p class="bold uppercase">Center</p>
        <p>
          Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Cras mattis consectetur purus sit amet fermentum Euismod.
        </p>
      </div>
      <div class="column-4 right-text">
        <p class="bold uppercase">Right</p>
        <p>
          Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Cras mattis consectetur purus sit amet fermentum Euismod.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="typography max-width">
  <p class="bold uppercase">List Styles</p>
  <div class="row">
    <div class="column-4">
      <p class="bold uppercase">Left</p>
      <ul>
        <li>Bulleted List Item 1</li>
        <li>Bulleted List Item 2</li>
        <li>Bulleted List Item 3</li>
        <li>Bulleted List Item 4</li>
      </ul>
      <br>
      <br>
      <ol>
        <li>Numbered List Item 1</li>
        <li>Numbered List Item 2</li>
        <li>Numbered List Item 3</li>
        <li>Numbered List Item 4</li>
      </ol>
    </div>
    <div class="column-4 center-text">
      <p class="bold uppercase">Center</p>
      <ul>
        <li>Bulleted List Item 1</li>
        <li>Bulleted List Item 2</li>
        <li>Bulleted List Item 3</li>
        <li>Bulleted List Item 4</li>
      </ul>
      <br>
      <br>
      <ol>
        <li>Numbered List Item 1</li>
        <li>Numbered List Item 2</li>
        <li>Numbered List Item 3</li>
        <li>Numbered List Item 4</li>
      </ol>
    </div>
    <div class="column-4 right-text">
      <p class="bold uppercase">Right</p>
      <ul>
        <li>Bulleted List Item 1</li>
        <li>Bulleted List Item 2</li>
        <li>Bulleted List Item 3</li>
        <li>Bulleted List Item 4</li>
      </ul>
      <br>
      <br>
      <ol>
        <li>Numbered List Item 1</li>
        <li>Numbered List Item 2</li>
        <li>Numbered List Item 3</li>
        <li>Numbered List Item 4</li>
      </ol>
    </div>
  </div>
</section>
<section class="typography invert">
  <div class="max-width">
    <p class="bold uppercase">List Styles On Dark</p>
    <div class="row">
      <div class="column-4">
        <p class="bold uppercase">Left</p>
        <ul>
          <li>Bulleted List Item 1</li>
          <li>Bulleted List Item 2</li>
          <li>Bulleted List Item 3</li>
          <li>Bulleted List Item 4</li>
        </ul>
        <br>
        <br>
        <ol>
          <li>Numbered List Item 1</li>
          <li>Numbered List Item 2</li>
          <li>Numbered List Item 3</li>
          <li>Numbered List Item 4</li>
        </ol>
      </div>
      <div class="column-4 center-text">
        <p class="bold uppercase">Center</p>
        <ul>
          <li>Bulleted List Item 1</li>
          <li>Bulleted List Item 2</li>
          <li>Bulleted List Item 3</li>
          <li>Bulleted List Item 4</li>
        </ul>
        <br>
        <br>
        <ol>
          <li>Numbered List Item 1</li>
          <li>Numbered List Item 2</li>
          <li>Numbered List Item 3</li>
          <li>Numbered List Item 4</li>
        </ol>
      </div>
      <div class="column-4 right-text">
        <p class="bold uppercase">Right</p>
        <ul>
          <li>Bulleted List Item 1</li>
          <li>Bulleted List Item 2</li>
          <li>Bulleted List Item 3</li>
          <li>Bulleted List Item 4</li>
        </ul>
        <br>
        <br>
        <ol>
          <li>Numbered List Item 1</li>
          <li>Numbered List Item 2</li>
          <li>Numbered List Item 3</li>
          <li>Numbered List Item 4</li>
        </ol>
      </div>
    </div>
  </div>
</section>
