<section class="related-articles product-list-wrapper product-recommendations featured-collection">
  <div class="max-width">
    {% if section.settings.heading != blank %}
      <div class="title center-text">
        <h2>{{ section.settings.heading | escape }}</h2>
        <br>
      </div>
    {% endif %}

    {% assign current_id = article.id %}
    {% assign settingTag = section.settings.article_tag %}
    <div
      id="related-articles"
      class="recommendations product-list row"
      {% if section.settings.enable_scrollbar %}
        data-simplebar
        data-simplebar-auto-hide="true"
        data-force-visible="false"
      {% endif %}
    >
      {% if settingTag != blank %}
        {% assign filteredArticles = '' %}

        {% paginate blog.articles by 200 %}
        {%- for article in blog.articles -%}
          {% if article.tags contains section.settings.article_tag and article.id != current_id %}
            {% assign filteredArticles = filteredArticles | append: article.handle | append: ',' %}
          {% endif %}
        {%- endfor -%}
        {% endpaginate %}

        {% assign filteredArticles = filteredArticles | split: ',' %}

        {% assign min = 1 %}
        {% assign max = filteredArticles.size %}

        {% assign diff = max | minus: min %}

        {% assign randomHandle1 = "now" | date: "%N" | modulo: diff | plus: 2 %}
        {% assign randomHandle2 = "now" | date: "%N" | modulo: diff | plus: 1 %}
        {% assign randomHandle3 = "now" | date: "%N" | modulo: diff | plus: 0 %}

        {% if randomHandle1 == randomHandle2 %}
          {% assign randomHandle1 = "now" | date: "%N" | modulo: diff | plus: 1 %}
        {% endif %}

        {% if randomHandle1 == randomHandle3 %}
          {% assign randomHandle1 = "now" | date: "%N" | modulo: diff | plus: 0 %}
        {% endif %}

        {% if randomHandle2 == randomHandle3 %}
          {% assign randomHandle2 = "now" | date: "%N" | modulo: diff | plus: 2 %}
        {% endif %}

        {% if randomHandle2 == randomHandle1 %}
          {% assign randomHandle2 = "now" | date: "%N" | modulo: diff | plus: 0 %}
        {% endif %}

        {% assign countArray = filteredArticles.size %}

        {% if randomHandle1 == randomHandle2 or randomHandle2 == randomHandle3 %}
          {% assign randomHandle1 = 0 %}
          {% assign randomHandle2 = countArray | divided_by: 2 | floor %}
          {% assign randomHandle3 = countArray | minus: 1 %}
        {% endif %}

        {% if randomHandle1 == countArray and countArray > 4 %}
          {% assign randomHandle1 = randomHandle1 | minus: 1 %}
        {% endif %}

        {% if randomHandle2 == countArray and countArray > 4 %}
          {% assign randomHandle2 = randomHandle2 | minus: 1 %}
        {% endif %}

        {% if randomHandle3 == countArray and countArray > 4 %}
          {% assign randomHandle3 = randomHandle3 | minus: 1 %}
        {% endif %}

        {% assign ar1 = filteredArticles[randomHandle1] %}
        {% assign ar2 = filteredArticles[randomHandle2] %}
        {% assign ar3 = filteredArticles[randomHandle3] %}

        {% assign filteredFromIndex = '' %}

        {% assign filteredFromIndex = filteredFromIndex | append: ar1 | append: ',' | append: ar2 | append: ',' | append: ar3 | append: ',' %}

        {% assign filteredFromIndex = filteredFromIndex | split: ',' %}

        {% for art_handle in filteredFromIndex %}
          {% assign newArticle = articles[art_handle] %}
          {% assign passingArticle = newArticle %}
          {% if passingArticle.id != current_id and passingArticle.id != blank %}
            {% render 'blog-single', article: passingArticle, limit: 3 %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% if section.settings.article1 != blank %}
          {% assign newArticle = articles[section.settings.article1] %}
          {% assign passingArticle = newArticle %}
          {% render 'blog-single', article: passingArticle, limit: 3 %}
        {% endif %}

        {% if section.settings.article2 != blank %}
          {% assign newArticle = articles[section.settings.article2] %}
          {% assign passingArticle = newArticle %}
          {% render 'blog-single', article: passingArticle, limit: 3 %}
        {% endif %}

        {% if section.settings.article3 != blank %}
          {% assign newArticle = articles[section.settings.article3] %}
          {% assign passingArticle = newArticle %}
          {% render 'blog-single', article: passingArticle, limit: 3 %}
        {% endif %}
      {% endif %}
    </div>

    <div class="product-list-collection-link center-text">
      <a href="{{ blog.url }}" title="View All Blog Posts" class="button">View All</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Article related posts",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Related Articles"
    },
    {
      "type": "article",
      "id": "article1",
      "label": "Article 1"
    },
    {
      "type": "article",
      "id": "article2",
      "label": "Article 2"
    },
    {
      "type": "article",
      "id": "article3",
      "label": "Article 3"
    },
    {
      "type": "text",
      "id": "article_tag",
      "label": "Articles tag",
      "info": "Override selected articles above; pull tagged articles instead"
    },
    {
      "type": "checkbox",
      "id": "enable_scrollbar",
      "label": "Enable Scrollbar",
      "default": true
    }
  ]
}
{% endschema %}
