<section id="cart-page" class="page cart-page constrain-items">
  <h1>Your cart <span v-if="cartData.item_count" v-cloak>(${ cartData.item_count })</span></h1>
  <free-shipping-bar class="hide-from-tablet" v-bind:is-cart="true"></free-shipping-bar>
  <div class="row hide-tablet">
    <div class="column-12">
      <cart-button class="top-cart-button full-width" v-bind:show-price="true"></cart-button>
    </div>
  </div>
  <br>
  <div class="row cart-details">
    <cart v-bind:is-cart="true" class="column-12-tablet-vert-6"></cart>
    <div class="column-12-tablet-vert-6">
      <free-shipping-bar class="hide-to-tablet" v-bind:is-cart="true"></free-shipping-bar>
      <subtotal-checkout v-bind:is-cart="true"></subtotal-checkout>
    </div>
  </div>
</section>


{% assign has_subscriptions = false %}
{% for i in cart.items %}
	{% for p in i.properties %}
		{% if p.first == 'shipping_interval_frequency' %}
			{% assign has_subscriptions = true %}
		{% endif %}
	{% endfor %}
{% endfor %}
{% if has_subscriptions %}
  <input style="display: none" type="submit" class="action_button" id="checkout" name="checkout"
  value="{{ 'cart.general.checkout' | t }}" />
{% endif %}
