<div class="page style-guide" id="style-guide">
  {% include 'hero' %}
  {% include 'palette' %}
  {% include 'typography' %}
  {% include 'buttons' %}
  {% include 'links' %}
  {% include 'forms' %}
  {% include 'grid' %}
</div>
