@keyframes blowUp {
  0% {
    transform: scale(1) translateZ(0);
  }

  50% {
    transform: scale(1.15) translateZ(0);
  }

  100% {
    transform: scale(1) translateZ(0);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0) translateZ(0);
  }

  100% {
    transform: scale(1) translateZ(0);
  }
}

//------------------
// CART ICON (IN HEADER)
//------------------
.cart {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem 0.75em 0.75em;
  cursor: pointer;
  z-index: 3;
  text-decoration: none;

  @media(min-width: $desktop) {
    padding: 0;
    margin-right: 0.75em;
  }

  .cart-icon {
    @media(max-width: $desktop - 1) {
      position: relative;
      width: 1.25rem;
      height: 1.25rem;
      background: url('~Src/assets/cart-icon.svg') no-repeat;
      background-position: center;
      background-size: contain;
      pointer-events: none;
      transition: filter 0.25s;

      &.cart-filled {
        transition: all 0.25s;

        &:after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          background: $red;
          border-radius: 50%;
          bottom: -4px;
          right: -2px;
          transition: all 0.25s;
          animation-duration: 0.3s;
          animation-name: scaleUp;
          animation-direction: alternate;
          backface-visibility: hidden;
        }

        &.cart-change {
          transition: all 0.25s;
          animation-duration: 0.3s;
          animation-name: blowUp;
          animation-direction: alternate;
        }
      }

      .cart-text {
        display: none;
      }

      &.active {
        .cart-icon {
          filter: $gray-filter;
        }
      }
    }
  }
}
