// GLOBAL PRODUCT STYLES
.product {
  &.siema-product {
    padding: 0 !important;

    .product-image-wrapper {
      overflow: hidden;
    }

    .product-info {
      word-break: break-word;

      a {
        margin-right: 0.5em;
      }
    }
  }

  // featured blog
  &.article {
    .article-description {
      a {
        text-decoration: underline;
      }
    }
  }

  .product-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    &, .image-wrap, .product-image {
      width: 100%;
      display: block;
      margin-bottom: 0;
    }

    .image-wrap, &.image-wrap {
      overflow: hidden;
      margin-bottom: .75em;
      background-size: cover !important;
    }

    img {
      height: auto;
    }

    img + img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      transition: opacity 0.15s;
    }

    @media (hover) {
      &:hover img + img {
        opacity: 1 !important;
        z-index: 1;
      }
    }
  }

  .product-info {
    * {
      // margin-bottom: 0.5rem;
      margin-bottom: 0;

      &.price-wrapper {
        position: relative;
      }

      &.price, &.original-price, &.starting-at {
        display: inline-block;
        font-family: var(--shop-font-family);
      }

      &.price {
        margin-bottom: 0;
      }

      &.original-price {
        color: var(--shop-black);
        position: relative;
        margin-right: 0.25em;

        &:after {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          right: 0;
          border-top: 1px solid;
          border-color: inherit;
        }
      }

      &.original-price + .price {
        color: var(--shop-red);
      }

      &.starting-at {
        display: block;
        font-size: 11px;
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 1px;

        + .price {
          margin-top: 14px;
        }
      }
    }

    a {
      text-decoration: none;
    }

    .jdgm-widget * {
      pointer-events: none;
    }

    .jdgm-prev-badge__text {
      display: none;
    }

    .okeReviews-reviewsSummary-ratingCount {
      display: none;
    }

    .swatches + button {
      margin-top: 0.75rem;
    }
  }
}

// product list wrapper
.product-list-wrapper {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;

  @media(min-width: $tablet) {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  &.siema-product-list-wrapper {
    overflow: hidden;

    .dots {
      max-width: calc(100% - 2em);
      margin: -1em auto 1em;

      @media(min-width: 400px) {
        display: none;
      }
    }
  }

  .siema-product-list {
    .siema-product {
      margin: 1em 1em 1em;
    }

    @media(min-width: 400px) {
      padding-left: calc(26.5% - 0.5em);

      .siema-product {
        margin: 1em 0.5em 2em !important;
      }
    }

    // NOTE will need to change these breakpoints if they change in siema
    @media(min-width: 675px) {
      padding-left: calc(17.5% - .5em);
    }

    @media(min-width: $tablet + 1) {
      padding-left: calc(13.5% - 0.5em);
    }

    @media(min-width: $desktop + 1) {
      padding-left: calc(10.5% - 0.5em);
    }

    @media(min-width: $max-width) {
      padding-left: calc(9.25% - 1em);
    }
  }

  &.product-recommendations {
    padding-bottom: 0;

    .simplebar-wrapper {
      @media(min-width: $tablet) {
        width: 100%;
      }
    }

    .simplebar-horizontal {
      width: 100%;
    }

    .siema-product {
      margin: 1em 1.5em 1em;
    }
  }
}

.featured-collection {
  .product-list-collection-link {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}
