$size-chart-width: 850px;

.size-chart-wrapper .modal-content {
  max-width: $size-chart-width !important;
  overflow: hidden;
  padding: 0 !important;
  text-align: left;

  .size-chart-header {
    padding: 1.25rem 3rem 0 1.25rem;
  }

  .hamburger {
    margin: 1.25em;

    .lines {
      &:before, &:after {
        background-color: var(--shop-secondary-color) !important;
      }
    }
  }

  .size-chart-outer {
    background: var(--shop-white);
    overflow-x: auto;

    .size-chart-inner {
      padding: 0 1.25em 1.25em;
      min-width: $size-chart-width - 200px;
      width: 100%;

      .size-chart {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1px;
        border: 1px solid var(--shop-medium-gray);
        background: var(--shop-medium-gray);
        width: 100%;

        .size-chart-column {
          text-align: center;
          background: var(--shop-white);

          &:nth-of-type(odd) {
            background: var(--shop-light-gray);
          }

          .size-chart-header {
            color: var(--shop-gray);
          }

          > div {
            padding: 0.75em 0.25em;

            &:not(:first-of-type) {
              border-top: 1px solid var(--shop-medium-gray);
            }
          }
        }
      }
    }
  }
}
