//------------------
// SCSS VARS
//------------------
@import './variables.scss';

//------------------
// BLOG AND ARTICLE
//------------------
.blog, .article {
  min-height: 500px;

  .blog-col-header, .article-col-header {
    margin-bottom: 0;
    font-weight: bold;
  }

  .blog-inner, .article-inner {
    align-items: flex-start;
    margin-top: 0;
    padding: 1.25em;
    padding-bottom: 0 !important;

    @media(max-width: $tablet - 1) {
      flex-basis: 100%;
      max-width: 100%;
      grid-template-columns: 1fr;
    }

    @media screen and (min-width: 400px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $tablet) {
      padding: 3em 1.25em;
      grid-template-columns: repeat(4, 1fr);
    }

    .post {
      width: 100%;
      padding-bottom: 2em;

      &, * {
        color: var(--shop-black);
        text-decoration: none;
      }


      &-hero {
        width: 100%;
        display: block;
      }

      &-text {
        padding: 0;

        .author {
          margin-bottom: 0;
        }
      }
    }
  }

  .blog-main-row {
    @media(max-width: #{$tablet - 1}) {
      flex-flow: column-reverse;
    }
  }

  // blog rh
  #blog-right-area {
    @media(min-width: $desktop) {
      padding-left: 1.875em;
    }

    .right-section {
      padding-bottom: 0;

      .accordion {
        border-top: none !important;
        border-bottom: 1px solid var(--shop-medium-gray);

        .question {
          padding-top: 1.25em;
          padding-bottom: 1.25em;
        }

        .answer {
          padding-bottom: 1.25em;
        }
      }

      @media(min-width: $tablet) {
        &:first-of-type {
          .question {
            margin-top: -1.25em !important;
          }
        }
      }

      &.last-right-section {
        .accordion {
          margin-bottom: 1.25em !important;
        }
      }
    }

    .search-input-form {
      position: relative;

      button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        padding: 0.75em 1em;
      }
    }

    .featured-post {
      display: grid;
      display: grid;
      grid-template-columns: 25% auto;
      grid-gap: 1.25em;

      &:not(:last-of-type) {
        margin-bottom: 1.25em;
      }

      img {
        margin: 0;
      }

      a {
        text-decoration: none;
      }
    }

    .blog-link {
      display: block;
      text-decoration: none;

      &:not(:last-of-type) {
        margin-bottom: 1.25em;
      }
    }

    .blog-tags {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0.75em;

      @media(min-width: $desktop) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      a.blog-tag {
        padding: 0.5em 1em;
        border: 1px solid var(--shop-black);
        text-align: center;
        text-decoration: none;

        &:hover {
          border-color: var(--shop-gray);
          text-decoration: none !important;
        }

        &.active-tag {
          color: var(--shop-white);
          border-color: var(--shop-black);
          background-color: var(--shop-black);
        }
      }
    }

    .featured-sale {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 1.25em;

      @media(min-width: $tablet) {
        padding: 3.75em;
      }

      img {
        z-index: -1;
        margin: 0;
      }

      &.invert {
        background: transparent;

        * {
          color: var(--shop-white);
        }
      }

      // &:after {
      //   content: '';
      //   position: absolute;
      //   background: var(--shop-overlay);
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   z-index: -1;
      // }
    }
  }
}

.blog {
  h1 {
    margin-bottom: 0.25em;
  }

  .pagination-wrapper {
    margin-top: -1em;
    margin-bottom: 2em;

    @media(min-width: $mobile) {
      margin-bottom: 4em;
    }
  }
}

//------------------
// BLOG POST
//------------------
.blog-post {
  &-content {
    .blog-post-image {
      margin-bottom: 1em;
    }

    .author {
      margin-bottom: 2em;
      font-size: 0.8rem;
    }

    h2, p, span {
      line-height: 1.5;
    }

    p, span, ul, ol {
      margin-bottom: 1.75em;
    }

    div > div:last-of-type p {
      margin-bottom: 0;
    }

    img, .video-responsive-wrapper {
      display: block;
      margin: 0 auto;
    }

    img {
      width: 100%;
    }
  }

  // blog reviews
  .one-whole {
    margin: 0 -0.625rem 0;

    h3, h4, h5, h6 {
      margin-bottom: 0;
    }
  }

  .blog__comment-author {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1.25rem;
    margin-bottom: 1.25rem;

    .blog__comment-author-bio {
      .meta {
        margin-bottom: 1.25rem;
      }
    }
  }
}
