//------------------
// SCSS VARS
//------------------
@import './variables.scss';

//------------------
// CMS PAGE
//------------------
.page {
  min-height: 500px;

  .constrain-items {
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  //style guide
  &.style-guide, &.cms-page {
    section {
      padding: 2em 1.25em;

      &.invert .max-width {
        padding: 0;
      }

      &.grid .max-width {
        padding: 0;
      }

      @media(min-width: $desktop) {
        padding: 4em 1.25em;
      }

      .section-heading {
        margin-bottom: 2em;
        font-size: 2em;
      }

      //mobile column-6 full width
      @media(max-width: $tablet - 1) {
        &:not(.grid) {
          [class*="column"] {
            flex-basis: 100% !important;
            max-width: 100% !important;
            margin-top: 2em;
          }
        }
      }
    }
  }

  // Password
  &.password {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
    background: var(--shop-overlay);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    min-height: 100vh;

    .overlay {
      position: absolute;
      animation: none;
      z-index: 1;
    }

    .password-inner {
      width: 100%;
      max-width: 650px;
      margin: 1em;
      background: var(--shop-white);
      padding: 2em;
      align-self: center;
      z-index: 2;

      @media(min-width: $tablet) {
        padding: 4em;
      }

      p {
        margin-bottom: 2rem;
      }

      .links-wrapper {
        display: flex;
        flex-flow: column;

        .button:not(:last-of-type) {
          margin-bottom: 1em;
        }

        @media(min-width: $mobile) {
          flex-flow: row;
          justify-content: space-around;

          .button {
            width: calc(50% - 2em);

            &:not(:last-of-type) {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .toggle-show-password {
      position: fixed;
      top: 1em;
      right: 1em;
      text-decoration: none;
      z-index: 2;

      &:hover {
        text-decoration: underline;
      }

      .lock {
        width: 12px;
        height: 18px;
        background: url('~Src/assets/lock.svg') no-repeat;
        background-size: contain;
        background-position: center;
        display: inline-block;
        margin-right: 0.5em;
        vertical-align: top;
      }
    }

    form {
      width: 100%;
      max-width: 100%;
    }

    .klaviyo-desktop {
      display: none;
    }

    @media(min-width: $tablet) {
      .klaviyo-mobile {
        display: none;
      }

      .klaviyo-desktop {
        display: block;
      }
    }

    .password-form {
      display: grid;
      grid-gap: 1em;

      @media(min-width: $mobile) {
        grid-template-columns: 1fr auto;
        grid-gap: 0;
      }
    }
  }

  // staff page
  &.staff {
    .person:not(:first-of-type) {
      @media(min-width: $tablet) {
        margin-top: 3em;
      }
    }

    .person-image {
      margin-bottom: -1.5em;
    }

    @media(min-width: $tablet) {
      .person:nth-of-type(odd) {
        .person-description {
          padding-left: 2em;
        }
      }

      .person:nth-of-type(even) {
        .person-description {
          padding-right: 2em;
        }
      }
    }
  }

  // about page
  &.about {
    // design specific ugh
    .about-header-text h1 {
      line-height: 0.9;

      @media(max-width: $max-width - 1) {
        font-size: 3em;
      }

      @media(max-width: $desktop - 1) {
        font-size: 2.5em;
      }

      @media(max-width: $mobile - 1) {
        font-size: 2em;
      }
    }
  }

  // Split page
  // From DSS - Probably will not be used much here
  .split-page {
    div[class*="column"] {
      padding-bottom: 0;
    }

    .tablet-vert-page-header {
      display: none;
    }

    .page-image {
      margin-top: 0 !important;
    }

    @media(min-width: $tablet) {
      .page-image {
        padding-right: 1em;
      }

      .page-content {
        padding-left: 1em;
      }

      .mobile-page-header {
        display: none;
      }

      .tablet-vert-page-header {
        display: block;
        margin-bottom: 2rem;
      }
    }

    @media(min-width: $desktop) {
      .page-image {
        padding-right: 2em;
      }

      .page-content {
        padding-left: 2em;
      }
    }
  }

  // bundle (books)
  &.bundle {
    .bundle-wrapper {
      margin-top: 2em;

      @media(min-width: $tablet) {
        margin-top: 3em;
      }
    }

    .collection-title {
      margin-bottom: 0;
    }

    .product {
      margin-bottom: 2em;
      // display: flex;
      // flex-flow: column;
      // justify-content: space-between;

      .image-wrap {
        margin-bottom: .75em;

        img {
          display: block;
        }
      }

      .add-to-cart {
        margin-top: 0.5em;
      }

      .field-message {
        position: relative;
        margin-bottom: 0;
      }
    }
  }

  .bundle-modal {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--shop-medium-gray);
    border-top: 1px solid var(--shop-black);
    border-left: 1px solid var(--shop-black);
    border-right: 1px solid var(--shop-black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.75em 1em;
    min-width: 300px;
    max-width: 700px;

    &.has-button {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto auto;
      align-items: center;
      width: calc(100% - 2em);
    }

    .bundle-text {
      margin: 0;
      text-transform: capitalize;

      &.no-button  {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: auto auto;
        align-items: center;

        .discount-text {
          white-space: nowrap;
        }
      }

      div, span {
        font-family: inherit;
      }

      a {
        display: block;
        color: var(--shop-black);
        text-decoration: underline;
        white-space: nowrap;
      }
    }

    button {
      width: 100%;
      padding: 0.65em;
    }

    @media(min-width: $mobile) {
      width: auto !important;

      .bundle-text, button {
        white-space: nowrap;
      }

      .bundle-text {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: auto auto;
        align-items: center;
        text-align: center;
      }

      a {
        display: inline-block;
      }

      button {
        padding: 0.65em 2em;
      }
    }
  }
}
