//------------------
// SCSS VARS
//------------------
@import './variables.scss';

//------------------
// BASE ELEMENTS
//------------------
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.175em;
  margin-bottom: 1rem;

  &, * {
    font-family: var(--shop-primary-font);
  }
}

h1, .h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 800;

  &.hero {
    font-size: 42px;
    line-height: 55px;
  }
}

h2, .h2 {
  font-size: 28px;
  line-height: 48px;
  font-weight: 800;
}

h3, .h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

h4, .h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

h5, .h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

h6, .h6 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

@media(min-width: $tablet) {
  h1, .h1 {
    font-size: 48px;
    line-height: 56px;

    &.hero {
      font-size: 64px;
      line-height: 72px;
    }
  }

  h2, .h2 {
    font-size: 40px;
    line-height: 48px;
  }

  h3, .h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

p, .p, blockquote {
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.5;
  font-family: var(--shop-secondary-font);
  font-weight: 400; //have to explicitly define for secondary font
}

ul, ol {
  display: inline-block;
  margin-left: 1.1rem;
  margin-bottom: 1.25em;

  ul, ol {
    margin-bottom: 0 !important;
  }

  li {
    li {
      margin-left: 1.25rem;
    }
  }

  li + li, ul, ol {
    margin-top: 0.625em;
  }
}

ol {
  margin-left: 1rem;

  // https://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
      margin-left: 1.25rem;
    }
  }
}

li {
  line-height: 1.5;
  font-family: var(--shop-secondary-font);
  font-weight: 400; //have to explicitly define for secondary font
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.25em;

  th, td {
    padding: 1rem 0;
    border: 0 solid;
    border-top: 1px solid var(--shop-medium-gray);
  }

  tr:last-of-type td {
    border-bottom: 1px solid var(--shop-medium-gray);
  }
}

//label
label {
  display: block;
  font-size: 0.8em;
  color: var(--shop-secondary-color);
  margin-bottom: 0.25em;
  font-family: var(--shop-secondary-font);
  font-weight: 400; //have to explicitly define for secondary font
}

//text input & select
input, select, textarea, .forward-button {
  display: block;
  appearance: none;
  outline: none;
  font-size: 1rem;
  padding: 0.875em 1em;
  border: 1px solid var(--shop-medium-gray);
  border-radius: 0;
  background: var(--shop-white);
  width: 100%;
  transition: all 0.1s;
  color: var(--shop-secondary-color);
  font-family: var(--shop-secondary-font);
  font-weight: 400; //have to explicitly define for secondary font

  @media (hover) {
    &:hover, &.hover, &:focus, &.focus {
      &:not(:disabled) {
        border-color: var(--shop-black);
      }
    }
  }

  &:disabled, &.disabled {
    background: var(--shop-light-gray);
    border-color: var(--shop-light-gray);
    color: var(--shop-dark-gray);
    opacity: 1;
  }
}

input {
  &:disabled, &.disabled {
    border: var(--shop-light-gray);
  }
}

//select
select {
  background: url('~Src/assets/select-arrow.svg') no-repeat;
  background-position: calc(100% - 1.25em) 50%;
  background-size: 10px;
  padding-right: 2.5em;
  font-family: var(--shop-secondary-font);
  font-weight: 400; //have to explicitly define for secondary font
  cursor: pointer;
}

//error classes
.vf-field-invalid.vf-field-touched, .invalid {
  position: relative;

  input, select, textarea {
    margin-bottom: 1em;
  }

  //error messages
  .field-message {
    color: var(--shop-red);
    font-size: 0.8em;
    text-align: right;
    margin-top: 2px;
    position: absolute;
    top: 100%;
    right: 0;
  }

  input, textarea, select,
  input[name='recaptcha'] ~ div div div iframe {
    border: 1px solid var(--shop-red) !important;
  }
}

.checkbox, .radio {
  margin-bottom: 0.75em;
  cursor: pointer;
  // https://stackoverflow.com/questions/24077725/mobile-safari-sometimes-does-not-trigger-the-click-event
  -webkit-tap-highlight-color: transparent;

  label {
    position: relative;
    font-size: 1em;
    text-transform: capitalize;
    padding-left: 1.75em;
    cursor: pointer;
    color: var(--shop-black);
    line-height: 1.45;
    font-weight: 100;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid var(--shop-dark-gray);
      background-color: var(--shop-white);
    }

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 4px;
      width: 14px;
      height: 14px;
      transition: all .1s ease;
      transform: scale(0);
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii0yNzMgMzY4IDY0IDU4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IC0yNzMgMzY4IDY0IDU4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGlkPSJMYXllcl8xIj4NCgk8Zz4NCgkJPHBvbHlnb24gaWQ9IlNoYXBlXzhfIiBmaWxsPSIjMDAwMDAwIiBwb2ludHM9Ii0yNDcuMSw0MDYuMyAtMjY1LDM5My44IC0yNzIuNyw0MDUgLTI0My45LDQyNS4yIC0yMDkuMiwzNzYuNiAtMjIwLjQsMzY4LjggCQkiLz4KCTwvZz4NCgk8Zz4NCgkJPHBvbHlnb24gaWQ9IlNoYXBlXzdfIiBmaWxsPSIjMDAwMDAwIiBwb2ludHM9Ii0yNDcuMSw0MDYuMyAtMjY1LDM5My44IC0yNzIuNyw0MDUgLTI0My45LDQyNS4yIC0yMDkuMiwzNzYuNiAtMjIwLjQsMzY4LjggCQkiLz4KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K);
      background-repeat: no-repeat;
      filter: invert(100%);
    }
  }

  input {
    position: absolute;
    left: -9999px;
    appearance: none;

    @media (hover) {
      &:hover, &.hover {
        &:not(:disabled) + label {
          &:before {
            border-color: var(--shop-secondary-color);
          }
        }
      }
    }

    &:checked {
      + label {
        &:before {
          background-color: var(--shop-secondary-color);
          border-color: var(--shop-secondary-color);
        }

        &:after {
          transform: scale(1);
        }
      }
    }

    &:disabled, &.disabled {
      cursor: default;

      & + label {
        color: var(--shop-medium-gray);

        &:before {
          border-color: var(--shop-medium-gray);
          background-color: var(--shop-medium-gray);
        }
      }
    }
  }
}

//radio buttons
.radio {
  label {
    &:before {
      border-radius: 50%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 10px;
      height: 10px;
      transition: all .1s ease;
      transform: scale(0);
      border-radius: 50%;
      background-color: var(--shop-white);
      background-image: none;
      filter: none;
    }
  }
}

.radio-button {
  input {
    position: absolute;
    left: -99999px;
    appearance: none;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em !important;
    font-size: 0.9em !important;
    border: 1px solid var(--shop-medium-gray);
    color: var(--shop-black);
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 0;
    white-space: normal;
    text-align: center;
    height: 100%;
  }

  input:checked {
    & + label {
      border-color: var(--shop-black) !important;
      color: var(--shop-black);
      background: var(--shop-white);
    }
  }
}

//required asterisk
.required > label:after {
  content: "*";
  color: var(--shop-red);
  padding-left: 1px;
}

//button
button,
.button,
.btn {
  display: inline-block;
  padding: 0.85em 2em;
  background: var(--shop-secondary-color);
  color: var(--shop-white);
  border: 1px solid var(--shop-secondary-color);
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  user-select: none;
  font-size: 1em;
  transition: all 0.1s;
  font-family: var(--shop-secondary-font);
  font-weight: 400; //have to explicitly define for secondary font
  text-decoration: none !important;

  * {
    color: inherit;
  }

  @media (hover) {
    &:hover:not(.disabled), &.hover:not(.disabled) {
      color: var(--shop-white);
      background: var(--shop-primary-color);
      border-color: var(--shop-primary-color);
    }
  }

  &:active:not(.disabled), &.active:not(.disabled) {
    color: var(--shop-secondary-color);
    background: var(--shop-white);
    border-color: var(--shop-secondary-color);
    text-decoration: none;
  }

  &.disabled {
    pointer-events: none;
    user-select: none;
    color: var(--shop-white);
    background: var(--shop-primary-color);
    border-color: var(--shop-primary-color);
    text-decoration: none;
  }

  &.normal-case {
    text-transform: none;
  }

  &.secondary {
    background: var(--shop-white);
    border-color: var(--shop-secondary-color);
    color: var(--shop-secondary-color);

    &:active:not(.disabled), &.active:not(.disabled) {
      color: var(--shop-white);
      border-color: var(--shop-secondary-color);
      background: var(--shop-secondary-color);
    }

    &.loading {
      &:before {
        background: var(--shop-white);
      }

      &:after {
        border: 3px solid var(--shop-overlay);
        border-top: 3px solid var(--shop-black);
      }
    }
  }

  &.loading {
    position: relative;
    cursor: default;
    background: var(--shop-secondary-color) !important;
    border-color: var(--shop-secondary-color) !important;

    &, span {
      color: transparent !important;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--shop-black);
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      margin-top: -9px;
      margin-left: -9px;
      // transform: translate(-50%,-50%) rotate(0deg);
      animation: spinner .6s infinite linear;
      border: 3px solid rgba(255, 255, 255, 0.25);
      border-top: 3px solid var(--shop-white);
      border-radius: 50%;
      stroke: var(--shop-white);
      z-index: 2;
    }
  }
}

.forward-button {
  position: relative;
  padding-right: 3em;
  padding-left: 1em;
  text-align: left;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 9px;
    background: url('~Src/assets/select-arrow.svg') no-repeat;
    background-position: calc(100% - 1.25em) 50%;
    background-size: 10px;
    margin: -0.5em 0;
    padding-right: 2.5em;
    transform: rotate(-90deg) translateY(-50%);
  }

  @media (hover) {
    &:hover:not(.disabled), &.hover:not(.disabled) {
      background: var(--shop-white);
      color: var(--shop-primary-color);
    }
  }
}

a {
  &, * {
    color: var(--shop-secondary-color);
  }

  @media (hover) {
    &:hover:not(.disabled), &.hover:not(.disabled) {
      &, * {
        color: var(--shop-dark-gray);

        &:not(.button):not(.btn) {
          text-decoration: underline !important;
        }
      }
    }
  }

  &:active:not(.disabled), &.active:not(.disabled) {
    &, * {
      color: var(--shop-medium-gray);
    }
  }

  // &.featured {
  //   display: inline-block;
  //   position: relative;
  //   padding-bottom: 2px;
  //   font-family: var(--shop-primary-font);
  //   color: var(--shop-primary-color);
  //   text-transform: uppercase;

  //   &:after {
  //     content: '';
  //     opacity: 0;
  //     position: absolute;
  //     width: 100%;
  //     height: 1px;
  //     bottom: 2px;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     transition: all 0.1s;
  //   }

  //   @media (hover) {
  //     &:hover:not(.disabled), &.hover:not(.disabled) {
  //       color: var(--shop-primary-color);
  //       text-decoration: none;

  //       &:after {
  //         opacity: 1;
  //         background: var(--shop-primary-color);
  //       }
  //     }
  //   }

  //   &:active:not(.disabled), &.active:not(.disabled) {
  //     color: var(--shop-gray);
  //     text-decoration: none;

  //     &:after {
  //       opacity: 0;
  //       background: var(--shop-gray);
  //     }
  //   }
  // }

  // &.secondary-featured {
  //   display: inline-block;
  //   position: relative;
  //   padding-bottom: 2px;
  //   font-family: var(--shop-primary-font);
  //   color: var(--shop-white);
  //   text-transform: capitalize;
  //   transition: all 0.1s;

  //   &:after {
  //     content: '';
  //     position: absolute;
  //     width: 100%;
  //     height: 1px;
  //     bottom: 2px;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     transition: all 0.1s;
  //     background: var(--shop-primary-color);
  //   }

  //   @media (hover) {
  //     &:hover:not(.disabled), &.hover:not(.disabled) {
  //       color: var(--shop-primary-color);
  //       text-decoration: none;
  //     }
  //   }

  //   &:active:not(.disabled), &.active:not(.disabled) {
  //     color: var(--shop-gray);
  //     text-decoration: none;

  //     &:after {
  //       opacity: 0;
  //       background: var(--shop-gray);
  //     }
  //   }
  // }
}

//responsive youtube videos
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.chevron {
  &:before {
    content: '';
    display: inline-block;
    position: relative;
    border-style: solid;
    border-width: 2px 2px 0 0;
    left: 0;
    top: 0.25em;
    height: 0.5em;
    width: 0.5em;
    vertical-align: top;
    transform: rotate(45deg);
    border-color: var(--shop-black);
  }

  &.left {
    transform: rotate(180deg);
  }
}
