//------------------
// SCSS VARS
//------------------
@import './variables.scss';

//------------------
// SOCIAL ICON
//------------------
@import './social.scss';

//------------------
// FOOTER
//------------------
body > footer {
  background: var(--shop-footer-background-color);

  a, a * {
    color: var(--shop-dark-gray);
    text-decoration: none;

    &:hover {
      color: var(--shop-dark-gray);
    }
  }

  .footer-top-wrapper {
    padding: 3em 0 2em;

    @media(min-width: $desktop) {
      padding: 2em 0;
    }

    .footer-inner {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;

      @media(min-width: $desktop) {
        padding: 1em 1.25em;
        flex-flow: row;
        align-items: flex-start;
      }

      .footer-left {
        text-align: center;
        flex-shrink: 0;
        flex-basis: 15%;

        @media(min-width: $desktop) {
          text-align: left;
          margin-right: 1.25em;
        }

        .footer-logo-wrapper {
          text-decoration: none;
          color: var(--shop-black);
          margin-bottom: 2em;

          .footer-logo {
            max-width: 8em;

            img {
              display: block;
              width: 100%;
              height: auto;
              max-width: 4.25em;
            }
          }
        }
      }

      .footer-right {
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        // order: 1;

        @media(min-width: $tablet) {
          flex-flow: row;
          flex-basis: 25%;
          flex-wrap: nowrap;
          margin: 0 -0.5em;
          // order: 0;
        }

        @media(min-width: $desktop) {
          flex-basis: 51%;
          margin: -0.2em 0 0;
          text-align: left;
          width: auto;
          flex-grow: 1; //may need removed if klaviyo present
        }

        div {
          padding: 0 0.75em;
          flex-basis: 50%;
          margin-bottom: 2em;

          &:last-of-type {
            margin-bottom: 0;
          }

          @media(min-width: $desktop) {
            margin-bottom: 0em;
            flex-basis: 25%;
          }

          p {
            margin-bottom: 0.5em;
            white-space: nowrap;
          }
        }
      }

      .footer-main-link {
        font-size: 0.85em;
        color: var(--shop-footer-link-color);
      }

      .child-link {
        font-size: 0.85em;
      }

      .footer-klaviyo-wrapper {
        $klaviyo-max-width: 375px !important;
        width: 100%;
        margin-top: 3em;
        // order: 0;

        @media(min-width: $desktop) {
          width: auto;
          margin-top: 0;
          margin-left: 1.25em;
          // margin-bottom: -1.25em;
        }

        .footer-klaviyo-description {
          max-width: $klaviyo-max-width;
          margin: 0 auto;

          p {
            color: var(--shop-dark-gray);
          }
        }

        form {
          max-width: $klaviyo-max-width;
        }
      }
    }
  }

  .footer-bottom {
    .footer-bottom-inner {
      display: flex;
      flex-flow: column-reverse;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 1em 0;
      border-top: 1px solid var(--shop-medium-gray);

      @media(min-width: $tablet) {
        flex-flow: row;
        justify-content: flex-start;
        text-align: left;
      }

      .footer-copyright {
        width: 100%;

        p {
          margin-bottom: 0;
          font-size: 0.85em;

          a {
            display: inline-block;
            color: var(--shop-dark-gray);
            margin: 1.5em 0.75em 0.75em;

            @media(min-width: $tablet) {
              margin: 0 1.5em 0 0;
            }
          }

          @media(min-width: $desktop) {
            br {
              display: none;
            }

            a {
              margin-right: 0;
              margin-left: 1.5em;
            }
          }
        }
      }

      .footer-social {
        display: flex;
        margin-bottom: 1.5em;

        a {
          margin-top: 1em;

          &:hover {
            filter: var(--shop-gray)-filter;
          }

          &:not(:first-of-type) {
            margin-left: 0.75em;
          }
        }

        @media(min-width: $tablet) {
          margin-bottom: 0;

          a {
            margin-top: 0;
          }
        }
      }
    }
  }
}
