// SCSS VARS
//------------------
@import './variables.scss';

//------------------
// HEADER NAV STYLES
// broken out from header.scss
//------------------
body > header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  position: relative;

  &.max-width-nav {
    max-width: $max-width;
    padding-left: 0;
    padding-right: 0;

    .children-links-wrapper {
      max-width: $max-width;
    }
  }

  // a[data-sale="true"] {
  //   color: $red !important;
  // }

  @media(min-width: $desktop) {
    justify-content: flex-start;
  }

  .search-input-wrapper {
    position: absolute;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 100%;
    left: 0;
    background: $light-gray;
    z-index: 99;

    @media(max-width: $tablet - 1) {
      display: none !important;
    }

    .search-input-and-close {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      padding: 1em 0;
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;
    }

    // results for desktop
    .search-results {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      // z-index: 9;
      background: $light-gray;

      .search-products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1.25em;
        margin: 0 auto;
        width: 100%;

        .product {
          flex-grow: 0 !important; //override global styles
        }
      }
    }
  }

  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $white;
    margin: 0;
    width: auto;

    @media(min-width: $desktop) {
      margin: 1em;
      flex-shrink: 0;
    }

    .logo {
      padding: 1em;
      margin: -1em;

      img {
        display: block;
        max-width: 12em;
        max-height: 2.25em;
        height: auto;
      }

      &.mobile-logo + &.desktop-logo {
        display: none;
      }

      @media(min-width: $desktop) {
        &.mobile-logo {
          display: none;
        }

        &.desktop-logo {
          display: block;
        }
      }
    }
  }

  // For link hover side areas,
  // to let these elements allow user to "exit out"
  // of link hovered
  .logo-link, .action-links {
    position: relative;
    z-index: 99;
  }

  .right-link, .links.left-links {
    display: none;
  }

  //override all link colors
  .link, .link * {
    text-decoration: none;

    &, &:hover {
      cursor: pointer;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  //top level hover/active
  #desktop-top-level-links {
    // position: relative;
    display: none;
    margin-right: 3.25em; //compensate space to center nav
  }

  .links {
    display: flex;
    align-items: center;

    @media(min-width: $desktop) {
      width: 100%;
    }

    .top-level-links {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;

      .link {
        padding: 1em 1.25em;
        appearance: none;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        position: relative;
        z-index: 9;
      }
    }

    .parent-links-wrapper {
      &.active {
        .top-level-link {
          text-decoration: underline;
        }
      }

      .child-wrapper, .parent-link-product {
        flex-basis: 20%;
      }

      .child-wrapper {
        min-height: 10vh;
        flex-grow: 1;

        .child-link {
          display: block;
          padding: 2.25em 1.25em 0;
          margin-bottom: 0.25em;
          appearance: none;
          text-decoration: none;
          white-space: nowrap;

          &:hover,
          &:active {
            text-decoration: underline;
          }

          @media(max-width: $desktop - 1) {
            &:hover,
            &:active {
              background: $black;
              color: $white;
              text-decoration: none;
            }
          }
        }
      }

      .grandchild-wrapper {
        display: inline-block;
      }

      .grandchild-link {
        display: block;
        position: relative;
        padding: .25em .75rem;
        margin: .25em 0.5em;
        font-weight: normal;
        appearance: none;
        text-decoration: none;
        font-size: 0.85em;
        z-index: 1;
        color: $dark-gray;

        &:last-of-type {
          margin-bottom: 2em;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .children-links-wrapper {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100vw;
        background: $light-gray;
        // box-shadow: $shadow;

        &:before {
          content: '';
          position: fixed;
          left: 0;
          width: 100%;
          height: 100vh;
          background: $overlay;
          pointer-events: none;
          user-select: none;
          z-index: -1;
        }

        .children-links-wrapper-inner {
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          width: 100%;
          max-width: $max-width;

          .children-links {
            display: flex;
            justify-content: center;
            flex-grow: 1;
          }
        }
      }

      &.active {
        > a {
          z-index: 999;

          // overlay header behind main link to widen hover size
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -1em;
            height: 100%;
            width: calc(100% + 2em);
          }
        }

        .children-links-wrapper {
          display: block;
        }
      }
    }
  }

  .action-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .link {
      padding: 1em 0.5em;
    }
  }


  //shared product styles
  .parent-link-product {
    margin: 2em auto;
    padding-right: 1.25em;

    .product-image-wrapper {
      display: block;

      .product-image {
        width: 100%;
      }
    }

    h5 {
      margin-bottom: 0;
      color: initial;
    }

    h6 {
      color: $secondary-color;
      margin: 0.25em 0 0.5em;
    }
  }

  //mobile nav styles
  #mobile-nav {
    max-width: 53px; //to evenly space logo (Same width as cart)

    //mobile search
    .search-results {
      background: $light-gray;
      // border-bottom: 1px solid $medium-gray;

      .search-products {
        overflow: auto;
        display: flex;
        margin-top: 1.25em;
      }
    }

    [data-simplebar="init"] {
      margin-left: -1.25em !important;
      margin-right: -1.25em !important;
      margin-bottom: 0.5em;

      .simplebar-track.simplebar-horizontal {
        left: 1.25em;
        right: 1.25em;
      }

      .product {
        margin: 0 0 2.5em 1.25em !important;
        flex-basis: 65% !important;

        &:last-of-type {
          flex-basis: calc(65% + 1.25em) !important;
          padding-right: 1.25em !important;
        }
      }
    }

    //mobile nav
    .mobile-nav-wrapper {
      overflow-y: auto;
      background: $light-gray;

      form {
        padding: 1.25em;

        .search-link {
          display: flex;
          padding: 0.25em 0 0.25em 1em !important;
        }
      }

      .mobile-top-level-link.first-link {
        border-top: 1px solid $gray;
      }

      .mobile-top-level-link, .mobile-children-links-wrapper {
        border-bottom: 1px solid $gray;

        &.active {
          border-bottom-color: $gray;
        }
      }

      .additional-link {
        color: $dark-gray !important;
        font-size: 0.9em;
        padding: 1.25em 1.25em 0.5em;
      }

      .mobile-parent-links-wrapper:first-of-type {
        border-top: 1px solid $gray;
      }

      .mobile-child-link {
        border-bottom: 1px solid $gray;

        // &.active {
        //   border-bottom: 0;
        // }
      }

      .is-direct-link {
        position: relative;

        i {
          position: relative;
          display: inline-block;
          width: 0.25em;
          height: .7rem;
          vertical-align: middle;
        }
      }

      .mobile-link.mobile-top-level-link.has-children,
      .mobile-child-link.has-children {
        position: relative;

        &:after, &:before {
          content: '';
          width: 8px;
          height: 2px;
          background: $black;
          position: absolute;
          top: 50%;
          right: 1.25rem;
          transform: translate3d(0,110%,0) rotate(135deg);
        }

        &:after {
          transform: translate3d(0,-110%,0) rotate(-135deg);
        }

        &.active {
          &, & + .mobile-children-links-wrapper {
            background: $medium-gray;
            font-weight: bold;
          }

          &.mobile-child-link, & + .mobile-grandchild-wrapper {
            background: $medium-gray;
          }

          &:before {
            transform: translate3d(-55%,-55%,0) rotate(45deg);
          }

          &:after {
            transform: translate3d(0,-55%,0) rotate(135deg);
          }
        }
      }

      .mobile-grandchild-wrapper {
        border-bottom: 1px solid $gray;
      }

      .mobile-child-wrapper:last-of-type {
        .mobile-child-link:not(.active), .mobile-grandchild-wrapper {
          border-bottom: 0;
        }
      }

      .mobile-link {
        display: block;
        color: $black;
        text-decoration: none;
        padding: 1.25em;
        cursor: pointer;
        text-align: left;

        &.mobile-top-level-link {
          font-size: 1em;
          padding: 1em 1.25rem;
        }

        &.mobile-child-link {
          font-weight: normal;
          padding: 1em;
          font-size: 0.9em;

          &:before, &:after {
            width: 7px;
          }
        }

        &.mobile-grandchild-link {
          font-size: 0.85em;
          padding: 1em 1em 0;
          font-weight: normal;

          &:last-of-type {
            padding-bottom: 1em;
          }
        }
      }

      .top-products {
        padding: 1rem;
      }

      .mobile-nav-product-wrapper {
        max-width: 100%;
        overflow: auto;
        display: flex;

        .parent-link-product {
          min-width: 150px;
          padding: 1rem;
          margin: 0;
        }
      }

      .nested-mobile-top-level-link {
        font-weight: bold;
        margin-bottom: 0;

        a {
          padding: 1rem;
        }
      }

      .aux-links {
        margin-top: 0.5em;
      }
    }

    // PAGINATE mobile nav
    .paginate-mobile-nav-wrapper {
      > div {
        &.slide-leave-active,
        &.slide-enter-active {
          position: absolute;
          width: 100%;
          transition: all 0.25s;
        }

        &.slide-enter {
          transform: translate(100%, 0);
        }

        &.slide-leave-to {
          transform: translate(-100%, 0);
        }

        &.slide-enter.nested {
          transform: translate(-100%, 0);
        }

        &.slide-leave-to.nested {
          transform: translate(100%, 0);
        }
      }

      .paginate-header {
        text-align: center;
        position: relative;
        background: $medium-gray;

        a {
          padding: 1em 0;
        }
      }

      .chevron {
        position: absolute;
        left: 0;
        top: 0;
        padding: 1em 1.4em;
      }

      a {
        text-decoration: none;
        color: $black;
      }
    }
  }
}
