//------------------
// SCSS VARS
//------------------
@import './variables.scss';

//------------------
// PRODUCT LIGHTBOX
//------------------
@import './lightbox.scss';

//------------------
// PRODUCT PAGE
//------------------
.product {
  .breadcrumbs-wrapper  {
    padding-top: 1.25rem;

    @media(min-width: $tablet) {
      padding-top: 2.25rem;
    }

    .breadcrumbs {
      a, span:not(:last-of-type) {
        color: var(--shop-dark-gray);
      }
    }
  }

  .top-product-info-inner {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0;

    @media(min-width: $tablet) {
      padding: 1.25em 1.25em 2em;
    }

    .mobile-images-wrapper, .main-image-wrapper {
      position: relative;

      .flair-badge-wrapper {
        position: absolute;
        top: 1em;
        left: 2em;
        margin: 0 !important;
        z-index: 1;
      }
    }

    .product-images-wrapper {
      width: 100%;
    }

    //mobile images
    .mobile-images-wrapper {
      width: 100%;
      padding: 1.25em 1.25em 0;
      overflow: hidden;

      @media(min-width: $tablet) {
        display: none;
      }

      .flair-badge-wrapper {
        top: 1.75em;
      }

      .mobile-images {
        > .image-wrap:not(:first-of-type) {
          display: none;
        }

        img {
          display: block;
          margin: 0 auto;
          padding: 0;
          width: 100%;
          height: auto;
        }

        > img:not(:first-of-type) {
          display: none;
        }
      }
    }

    //desktop images
    .desktop-images-wrapper {
      display: none;
      margin: 0;
      width: 100%;

      @media(min-width: $tablet) {
        display: block;

        &.has-additional-images {
          display: grid;
          grid-template-columns: 75px 1fr;
          grid-gap: 1.25em;

          &.desktop-images-wrapper-tiles {
            grid-template-columns: 1fr 1fr;
            width: 100% !important;
          }

          // &.has-simplebar {
          //   grid-template-columns: 95px 1fr;

          //   .additional-images-wrapper {
          //     &:hover {
          //       .simplebar-scrollbar:before {
          //         opacity: 1 !important;
          //       }
          //     }

          //     .simplebar-scrollbar:before {
          //       transition: opacity 0.1s;
          //       background-color: var(--shop-primary-color);
          //       top: 0;
          //       bottom: 0;
          //       left: 0;
          //       right: 0;
          //     }

          //     .simplebar-track.simplebar-vertical {
          //       border-radius: 5px;
          //       width: 7px;
          //     }
          //   }
          // }

          // @media(min-width: $desktop) {
          //   grid-template-columns: 90px 1fr;

          //   &.has-simplebar {
          //     grid-template-columns: 100px 1fr;
          //   }
          // }

          &.has-simplebar {
            .simplebar-track {
              display: none;
            }
          }
        }
      }

      // zoom styles
      .zoomImg {
        position: relative;
        background-position: 50% 50%;
        background-size: 200%;
        position: relative;
        overflow: hidden;
        cursor: zoom-in;
        will-change: background-position;
        width: 100%;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          height: 12px;
          margin-top: -9px;
          margin-left: -9px;
          // transform: translate(-50%,-50%) rotate(0deg);
          animation: spinner .6s infinite linear;
          border: 3px solid rgba(0, 0, 0, 0.25);
          border-top: 3px solid var(--shop-black);
          border-radius: 50%;
          stroke: var(--shop-white);
          z-index: -1;
        }

        img {
          transition: opacity .5s;
          display: block;
          width: 100%;
          height: auto;
          background: var(--shop-white);

          &:hover {
            opacity: 0;
          }
        }
      }

      .image-wrap {
        width: 100%;
      }

      .main-image-wrapper {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;

        &.loading {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            z-index: 1;
          }
        }

        .main-image {
          display: block;
          margin: 0 auto;
          width: 100%;
        }
      }

      //additional images
      .additional-images-wrapper {
        display: flex;
        flex-flow: column;
        flex-shrink: 0;
        white-space: nowrap;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        align-self: flex-start;
        width: 100%;
        max-height: 600px; // initially set to prevent big jump

        .simplebar-wrapper {
          width: 100%;
        }

        .additional-image {
          display: block;
          width: 75px;
          height: 75px;
          background-size: cover;
          background-position: center;
          margin-bottom: 1em;
          cursor: pointer;
          opacity: 0.6;
          transition: all 0.1s;
          flex-shrink: 0;

          &:last-of-type {
            margin-bottom: 0;
          }

          &:hover, &.active {
            opacity: 0.8;
          }

          &.active {
            opacity: 1;
          }
        }
      }
    }

    //top product description
    .rhpa-wrapper {
      position: relative;
      width: 100%;
      padding: 0 1.25em;
      margin-top: 1em;

      @media(min-width: $tablet) {
        padding-right: 0;
        margin-top: 0;
      }

      @media(min-width: $desktop) {
        padding-left: 2.5em;
      }

      .product-vendor {
        text-decoration: none;

        * {
          margin: 0;
          display: inline-block;
        }
      }

      // review styles
      .jdgm-preview-badge, .okeReviews {
        margin-bottom: 1em;
      }

      .title-and-price {
        // Mobile overrides
        // used in portal-vue
        &.mobile-title-and-price {
          .title-wrapper {
            & *:not([class*="okeReviews"]) {
              margin-bottom: 0.5rem !important;
            }

            .product-title {
              font-size: 1.5em;
            }

            .jdgm-preview-badge {
              margin: 0 0 0.5rem !important;
            }
          }

          .mobile-bottom-tap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.25em;
            align-items: center;

            .product-vendor {
              &, & * {
                margin-bottom: 0;
              }
            }

            .price-wrapper {
              justify-content: flex-end;
              margin-top: 0;

              span {
                margin-right: 0.25em;

                &:last-of-type {
                  margin-right: 0;
                }
              }
            }
          }
        }

        .product-title, .price-wrapper > * {
          margin-bottom: 0;
          display: inline-block;
          font-family: var(--shop-font-family);
        }

        .product-title {
          display: block;
          text-transform: capitalize;
          font-size: 1.75em;
          line-height: 1.25;
          margin-bottom: 1rem !important;
        }

        .price-wrapper *:not(.at-price) {
          white-space: nowrap;
        }

        .price-wrapper {
          margin: 1em 0 0;
          display: flex;

          span {
            display: inline-block;
            font-family: inherit;

            &:last-of-type {
              margin-right: 0.5em;
            }
          }
        }

        @media(min-width: $tablet) {
          &, .price-wrapper {
            margin-bottom: 1em;
          }
        }
      }

      .at-price {
        margin: 0;
        font-family: var(--shop-font-family) !important;
        font-size: 0.75em;
      }

      .original-price {
        display: block;
        position: relative;
        margin-right: 0.25em;

        &:after {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          right: 0;
          border-top: 1px solid;
          border-color: inherit;
        }
      }

      .sale-price {
        color: var(--shop-red);
      }

      // recharge
      .rc_widget__option, .rc_popup {
        padding-left: 0;
        padding-right: 0;

        label {
          padding-left: 2em;
          line-height: 0.5em !important;
          margin-left: 0;
        }

        .rc_widget__option__plans {
          padding-left: 2em !important;
        }

        &.rc_widget__option--active {
          background: none;
        }
      }

      .pdp-error {
        .field-message {
          position: relative;
          margin-bottom: 0;
        }
      }

      .description-wrapper {
        overflow-y: auto;
        border-top: 1px solid var(--shop-medium-gray);

        // single description
        .description-text {
          padding: 1em 0;
        }

        // description accordions
        .description-accordions {
          margin: 0 0 1.25em;
        }

        .description-accordion {
          border-bottom: 1px solid var(--shop-medium-gray);
          margin: 0;

          .accordion-header {
            padding: 1.25em 0;
            position: relative;
            margin-bottom: 0;
            cursor: pointer;

            &:after, &:before {
              content: '';
              width: 8px;
              height: 2px;
              background: var(--shop-black);
              position: absolute;
              top: 50%;
              right: 0.5em;
              transform: translate3d(0,110%,0) rotate(135deg);
            }

            &:after {
              transform: translate3d(0,-110%,0) rotate(-135deg);
            }
          }

          &.active .accordion-header {
            text-decoration: underline;

            &:before {
              transform: translate3d(-55%,-55%,0) rotate(45deg);
            }

            &:after {
              transform: translate3d(0,-55%,0) rotate(135deg);
            }
          }

          .description-text {
            padding: 0;

            ul, ol, p {
              margin-bottom: 1.25rem;
            }
          }
        }

        ul, ol, p {
          margin-bottom: 1em;
        }
      }

      .klarna-afterpay {
        margin-top: -0.25em;
        margin-bottom: 0.25em;
      }
    }

    @media(min-width: $tablet) {
      flex-flow: row;

      .product-images-wrapper {
        width: 55%;
      }

      .rhpa-wrapper {
        width: 45%;
      }
    }

    @media(min-width: $desktop) {
      flex-flow: row;

      .product-images-wrapper {
        width: 66.666666%;
      }

      .rhpa-wrapper {
        width: 33.3333333%;
      }
    }
  }

  .options-wrapper {
    .swatches-wrapper {
      .swatch-title {
        margin-bottom: 0;
      }

      .swatches {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0.75em;
        margin: 0.5em 0 1.25em;

        &.color-swatches {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        &.image-swatches {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

          .color-image-swatch {
            label {
              padding: 0;

              img {
                display: block;
                width: 100%;
              }
            }
          }
        }

        .swatch {
          position: relative;
          cursor: pointer;
          color: var(--shop-black);
          overflow: hidden;
          z-index: 1;
          // https://stackoverflow.com/questions/24077725/mobile-safari-sometimes-does-not-trigger-the-click-event
          -webkit-tap-highlight-color: transparent;
          text-align: center;

          input {
            display: none;
          }

          label {
            padding: 0.75em;
            border: 1px solid var(--shop-medium-gray);
            color: var(--shop-black);
            cursor: pointer;
            text-transform: uppercase;
            margin-bottom: 0;
          }

          label {
            color: var(--shop-black) !important; //override weird "blue" scenario
          }

          input:disabled + label, input.disabled + label {
            // background: var(--shop-light-gray);
            color: var(--shop-dark-gray);
            border-color: var(--shop-medium-gray);
          }

          input:checked + label {
            color: var(--shop-black);
          }

          input:checked + label {
            border-color: var(--shop-black) !important;
            color: var(--shop-black);

            &:after {
              background: var(--shop-black) !important;
            }
          }

          &.oos {
            label {
              color: var(--shop-gray) !important;
            }
            // border-radius: 5px;
          }

          &.color-swatch {
            border-radius: 0;
            width: 100%;
            height: 0;
            padding-bottom: 100%;

            label {
              position: absolute !important;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 0;
              margin: 0 !important;
              color: transparent !important;
              border-color: var(--shop-white);
              position: relative;
              overflow: hidden;
            }

            &[class*="white"] {
              label {
                border-color: var(--shop-light-gray);
              }
            }

            &.oos {
              label {
                border-color: var(--shop-gray);

                &:before {
                  content: "";
                  top: 50%;
                  left: 50%;
                  width: 150%;
                  height: 2px;
                  background: var(--shop-gray);
                  transform: translate(-50%, -50%) rotate(-45deg);
                  z-index: 1;
                  position: absolute;
                }

                &:after {
                  content: "";
                  top: 50%;
                  left: 50%;
                  width: 150%;
                  height: 2px;
                  background: var(--shop-gray);
                  transform: translate(-50%, -50%) rotate(-45deg);
                  z-index: 1;
                  position: absolute;
                }
              }
            }
          }

          &.color-image-swatch.oos {
            label {
              &:after, &:before {
                content: "";
                top: 50%;
                left: 50%;
                width: 1px;
                height: 150%;
                transform: translate(-50%, -50%) rotate(39deg);
                background: var(--shop-medium-gray);
                z-index: 1;
                position: absolute;
              }

              &:before {
                transform: translate(-50%, -50%) rotate(-39deg);
              }
            }

            input:hover + label {
              border-color: var(--shop-gray);

              &:before, &:after {
                background: var(--shop-gray);
              }
            }

            input:checked + label {
              &:before, &:after {
                background: var(--shop-black);
              }
            }
          }

          @media (hover) {
            &:hover label {
              border-color: var(--shop-gray);
            }
          }
        }
      }

      .select-wrapper, .radio-wrapper {
        margin: 0 0 1em;
      }

      .select-title, .radio-title {
        margin-bottom: 0.5em;
      }

      .radio-wrapper {
        border: 1px solid var(--shop-medium-gray);
        margin-bottom: 1em;
        padding: 0.75em 0.75em 0;
        display: flex;
        flex-wrap: wrap;

        .radio {
          flex-basis: 100%;

          &.half-width {
            flex-basis: 50%;
          }
        }
      }
    }

    .quantity-atc-wrapper {
      display: flex;
      margin-bottom: 1.25em;

      .quantity-input-wrapper {
        width: 100px;
        margin-right: 1em;
      }

      .add-to-cart-wrapper {
        &, button {
          width: 100%;
        }

        button {
          min-width: 0;
          padding: .85em 0;
        }
      }
    }
  }

  .swatch-size-link-wrapper {
    display: grid;
    grid-template-columns: 1fr 80px;

    .size-chart-link-wrapper {
      text-align: right;

      .size-chart-link {
        text-decoration: underline;
        margin: 0;
      }

      td:not(:first-of-type) {
        text-align: right;
      }
    }
  }

  .product-reviews {
    padding-top: 3em;
    padding-bottom: 3em;

    .jdgm-rev-widg {
      margin-top: 0;

      .jdgm-rev-widg__title {
        margin-bottom: 1em;
      }
    }

    .jdgm-widget-actions-wrapper a {
      text-decoration: none !important;
    }
  }
}

//------------------
// SIZE CHART
//------------------
@import './size-chart.scss';
